@media screen and (max-width: 1100px) {
  .footer_content_wrapper {
    padding: 0 15px 0 15px;
  }
  .user_container .user_left_nav {
    padding-left: 20px;
  }
  .page_top {
    padding: 20px;
  }
  .shop_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .card_item_wrapper,
  .card_block_shop .card_item_wrapper {
    width: 50%;
    max-width: 50%;
  }

  .card_item_wrapper.grid_bars {
    width: 100%;
    max-width: 100%;
  }

  .shop_wrapper .right {
    max-width: 70vw;
  }
}

@media screen and (max-width: 770px) {
  .shop_wrapper {
    flex-flow: column;
  }

  .shop_wrapper .right {
    max-width: 100%;
  }

  .footer_content_wrapper {
    flex-flow: column;
    flex-direction: column-reverse;
  }

  .home_promotion .tag.title,
  .featured_container .featured_action .tag.title {
    font-size: 35px;
  }
  .home_promotion .tag.low_title,
  .featured_container .featured_action .tag.low_title {
    font-size: 25px;
  }
  .home_promotion .home_promotion_img {
    height: 320px;
    text-align: center;
    padding: 73px 0;
  }

  .user_container {
    flex-flow: column;
  }
  .user_container .user_right {
    padding-left: 20px;
    padding-right: 20px;
  }
  .register_login_container {
    margin: 0 0px 75px 0px;
    flex-flow: column;
    flex-direction: column-reverse;
  }
  .product_detail_wrapper {
    margin-bottom: 100px;
    flex-flow: column;
    flex-direction: column-reverse;
    align-items: center;
  }
  .product_detail_wrapper .right {
    flex-grow: 1;
    min-height: auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .product_detail_wrapper .product_image_container {
    padding-right: 0;
  }
}

@media screen and (max-width: 640px) {
  header .container .logo-wrapper {
    width: 50%;
    max-width: 210px;
    min-width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .logo {
    font-size: 24px;
    padding: 0px;
  }

  .user_product_block {
    flex-flow: column;
    align-items: center;
    max-width: 420px;
    margin: 15px auto;
  }

  .user_product_block .item {
    width: 100%;
    text-align: center;
  }
  .user_product_block .cart_remove_btn {
    margin: 25px auto 15px;
  }
}

@media screen and (max-width: 520px) {
  .page_container {
    padding-top: 50px;
  }

  header .menu-container .right .top,
  header .menu-container .right .bottom {
    display: none;
  }
  header .menu-container .side_drawer_wrapper {
    display: block;
  }
  .history_blocks {
    overflow-x: auto;
  }
}

@media screen and (max-width: 480px) {
  .card_item_wrapper {
    width: 88%;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  .card_block_shop .card_item_wrapper {
    width: 88%;
    max-width: 88%;
    margin-left: 6%;
    margin-right: 6%;
  }

  .card_block_shop .card_item_wrapper.grid_bars {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-flow: column;
    align-items: center;
  }

  .card_item_wrapper.grid_bars .image {
    width: 100%;
    background-size: contain !important;
  }

  footer .business_nfo {
    flex-flow: column;
  }

  footer .business_nfo .tag {
    width: 100%;
  }
  .load_more_container span {
    font-size: 20px;
    padding: 10px 40px;
  }
  .form_block_two {
    flex-flow: column;
  }
  .form_block_two .block:nth-child(1) {
    padding-right: 0;
  }
  .form_block_two .block:nth-child(2) {
    padding-left: 0;
  }
}
